*/*{
    border:1px solid black;
}*/
header{
    height:100px;
    width:100%;
    margin-bottom: 30px;
    border-bottom: 3px solid;
    display:flex;
    justify-content: space-between;
    
    

}
.imgUser{
    height: 100%;
    border-radius: 50%;
}
.menuUser{
    display:none;
    list-style: none;
}
#menuUser li{
    list-style: none;
}
aside{
    width: 305;
}
.asideMovil{
    display:none;

}
.contenedorPirncipal{
    width: 70%;
}
main{
    display: flex;
    height: 80vh;
}
aside li{
    font-size: 30px;
    list-style: none;
    margin-top: 20px;
}
aside ul{
    list-style: none;
}
aside i{
    margin-right: 20px;
    width: 30px;
}
@media(max-width: 768px){
    .menuUser li{
       margin-top: 20px;
    }
#fotoLogo{
    height: 60px;
    width: 200px;
    margin:0;
}
#imgUser{
    height: 50px;
    width:auto
}
.contenedorPirncipal{
    width: 100%;
}
.asideMovil{
    display:block;
    padding: 0;
    
}
.asideMolvil i{
    font-size: 30px;
    margin:10px;
    margin-left: 20;
}
main{
    flex-direction: column
    
}
aside{
    display:none;
}
#burger{
    list-style: none;
    display: none;
    padding-left: 0;
}
div li{
    margin: 10px;
    border-bottom: 1px black solid;
};

}